In [1]:
import sqlite3
db=sqlite3.connect("my.db")
crsr=db.cursor()
cmd="""CREATE TABLE emp(Name varchar(20),salary INTEGER);"""
crsr.execute(cmd)

In [2]:
cmd="""INSERT INTO emp(Name, salary)
VALUES
("Nitesh",150000),
("Amol",200000),
("Sachin",160000);
"""
crsr.execute(cmd)

In [3]:
crsr.execute("SELECT * FROM emp")
ans=crsr.fetchall()
print(ans)

[('Nitesh', 150000), ('Amol', 200000), ('Sachin', 160000)]

In [8]:
cmd="""SELECT Name,salary FROM emp ORDER BY salary DESC;"""
crsr.execute(cmd)
ans1=crsr.fetchall()
print(ans1)

[('Amol', 200000), ('Sachin', 160000), ('Nitesh', 150000)]

In [9]:
#second highest salary paid..

cmd="""SELECT Name,salary FROM emp ORDER BY salary DESC LIMIT 1,1;"""
crsr.execute(cmd)
ans1=crsr.fetchall()
print(ans1)

[('Sachin', 160000)]

In [14]:
cmd="""SELECT Name,salary FROM emp WHERE salary==160000;"""
crsr.execute(cmd)
ans1=crsr.fetchall()
print(ans1)

[('Sachin', 160000)]

In [15]:
cmd="""SELECT Name,SUM(salary) AS payment FROM emp GROUP BY Name HAVING payment>160000;"""
crsr.execute(cmd)
ans1=crsr.fetchall()
print(ans1)

[('Amol', 200000)]

In [16]:
cmd="""SELECT Name,salary FROM emp GROUP BY Name HAVING salary>160000;"""
crsr.execute(cmd)
ans1=crsr.fetchall()
print(ans1)

[('Amol', 200000)]

In [ ]:
'''
1. WHERE Clause:(pre Filter)
WHERE Clause is used to filter the records from the table or used while joining more 
than one table.Only those records will be extracted who are satisfying the specified 
condition in WHERE clause. It can be used with SELECT, UPDATE, DELETE statements.


2. HAVING Clause:(post Filter)
HAVING Clause is used to filter the records from the groups based on the given condition 
in the HAVING Clause. Those groups who will satisfy the given condition will appear in
the final result. HAVING Clause can only be used with SELECT statement.'''